$navColor: rgba(233, 232, 242, 0.796);
$shadowColor: rgba(127, 153, 188, 0.412);
$darkBlue: #154A76;
$midBlue: #0288A3;
$lightBlue: #91D3CE;
$myWhite: #EAE9F3;
$greyBlue: #98ADCA;
$greyBlue85p: rgba(151, 172, 201, 0.85);
$myBlack: #282828;

